<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">
<body>
<wicket:panel>
<div class="card bg-light">
    <div wicket:id="header" data-toggle="collapse" href="#bodyId" class="card-header"
         aria-expanded="false" aria-controls="bodyId">
        <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
        <span wicket:id="headerLabel"></span>
    </div>

    <div wicket:id="body" class="card-body collapse" id="bodyId">
        <wicket:child />
    </div>
</div>
</wicket:panel>
</body>
</html>
