<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org">
<body>
<wicket:panel>
    <div class="row">
        <div class="col-md-12">
            <div class="pane title">
                <h4 wicket:id="panelTitle">[[title]]</h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table wicket:id="table" class="dataview table"></table>
        </div>
    </div>
</wicket:panel>
</body>
</html>
